/* src/styles/App.css */
.homepage {
  text-align: center;
  padding: 40px 20px;
  background-color: #eb6f6f;
}

/* src/styles/App.css */
.featured-cake {
  text-align: center;
  padding: 20px;
  border-top: 2px solid #e68db8;
  border-bottom: 2px solid #e68ddd;
  margin: 20px 0;
}

.featured-cake button {
  background-color: #7c3131;
  color: rgb(207, 122, 176);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.featured-cake button:hover {
  background-color: #9647df;
}


/* src/styles/App.css */
.contact {
  text-align: center;
  padding: 20px;
  background-color: #6b3a56;
}

.contact input, .contact textarea {
  display: flex;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
  max-width: 400px;
}

.contact button {
  background-color: #d1a4c7;
  color: rgb(140, 61, 213);
  padding: 10px;
  border: none;
  border-radius: 5px;
}

