/* src/styles/App.css */
.cake-gallery {
    text-align: center;
    padding: 20px;
  }
  
  .gallery-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .gallery-item {
    border: 1px solid #9c8cdc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  